# Hamoye Group A Quiz Assessment

In [2]:
#Importing required library
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [5]:
#Loading Data
df = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG (1) (1).csv',encoding='latin-1')

In [6]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
#Q1: What is the total Protein supply quantity in Madagascar in 2015?
df_m = df[df['Area'] == 'Madagascar']
df_m[df_m['Element'] =='Protein supply quantity (g/capita/day)']['Y2015'].sum()

173.04999999999998

In [17]:
#Q4: Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
df.groupby('Element').sum().loc['Processing','Y2017']

292836.0

In [88]:
#Q5: What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
np.round(df.describe()['Y2017'].loc[['mean','std']].values,2)

array([ 140.92, 1671.86])

In [38]:
#Q7: Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
df.groupby('Element').sum().loc['Stock Variation','Y2014':].sort_values(ascending=False).index[0]

'Y2014'

In [94]:
#Q9: Which year had the least correlation with ‘Element Code’?
yr = ['Y2014','Y2015','Y2016','Y2017','Y2018']
df.corr()['Element Code'].loc[yr].sort_values().index[0]

'Y2016'

In [46]:
#Q10: What is the total sum of Wine produced in 2015 and 2018 respectively?
df.groupby('Item').sum().loc['Wine',['Y2015','Y2018']].values

array([4251.81, 4039.32])

In [51]:
#Q14: Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
cols = ['Y2017','Area']
dfA = df.loc[:,cols]
dfA.groupby('Area').sum().sort_values(by='Y2017',ascending=False).index[0]

'Nigeria'

In [100]:
#Q15 What is the total number and percentage of missing data in 2014 to 3 decimal places?
missing_data_2014 = df.isnull().sum()['Y2014']
per_missing_data_2014 = np.round(missing_data_2014/len(df['Y2014'])*100,3)
missing_data_2014, per_missing_data_2014

(1589, 2.607)

In [96]:
len(df['Y2014'])

60943

In [58]:
#Q16: What is the total number of unique countries in the dataset?
len(df['Area'].unique())

49

In [102]:
#Q19 Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
dfA.groupby('Area').sum().sort_values(by='Y2017').iloc[6:7,:].index[0]

'Guinea-Bissau'