# Hamoye Group A Quiz Assessment

In [2]:
#Importing required library
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [5]:
#Loading Data
df = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG (1) (1).csv',encoding='latin-1')

In [6]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
#Q1: What is the total Protein supply quantity in Madagascar in 2015?
df_m = df[df['Area'] == 'Madagascar']
df_m[df_m['Element'] =='Protein supply quantity (g/capita/day)']['Y2015'].sum()

173.04999999999998

In [17]:
#Q4: Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
df.groupby('Element').sum().loc['Processing','Y2017']

292836.0

In [18]:
#Q5: What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [38]:
#Q7: Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
df.groupby('Element').sum().loc['Stock Variation','Y2014':].sort_values(ascending=False).index[0]

'Y2014'

In [41]:
#Q9: Which year had the least correlation with ‘Element Code’?
df.corr()['Element Code'].sort_values()

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

In [46]:
#Q10: What is the total sum of Wine produced in 2015 and 2018 respectively?
df.groupby('Item').sum().loc['Wine',['Y2015','Y2018']].values

array([4251.81, 4039.32])

In [51]:
#Q14: Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
cols = ['Y2017','Area']
dfA = df.loc[:,cols]
dfA.groupby('Area').sum().sort_values(by='Y2017',ascending=False).index[0]

'Nigeria'

In [54]:
#Q15 What is the total number and percentage of missing data in 2014 to 3 decimal places?
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [58]:
#Q16: What is the total number of unique countries in the dataset?
len(df['Area'].unique())

49

In [73]:
#Q19 Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
dfA.groupby('Area').sum().sort_values(by='Y2017').iloc[6:7,:]

                  Y2017
Area
Guinea-Bissau  19102.77